<header id="main-header">
    <nav>
      <ul>
        <li><a href="/home">Home</a></li>
        <% if (!locals.isAuth) { %>
          <li><a href="/signup">Signup</a></li>
          <li><a href="/login">Login</a></li>
        <% } %>
        <% if (locals.isAdmin) { %>
        <li><a href="/admin">Admin</a></li>
        <% } %>
        <% if (locals.isAuth) { %>
          <li><a href="/profile">Profile</a></li>
          <form action="/logout" method="POST">
            <button id="logout">Logout</button>
          </form>
        <% } %>
      </ul>
    </nav>
  </header>