<%- include('includes/head.ejs') %>
  </head>
  <body>
    <%- include('includes/header.ejs') %>
    <main>
      <h1>The Admin Page!</h1>
      <p>You should only get here, If you're authenticated (logged in).</p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem
        repellendus distinctio sed ducimus cum debitis magni modi laborum
        molestiae ipsum?
      </p>
    </main>
  </body>
</html>
