<%- include('includes/head.ejs') %>
  </head>
  <body>
    <%- include('includes/header.ejs') %>
    <main>
      <h1>Welcome to this Demo!</h1>
      <p>
        By the end of this demo <a href="/admin">/Admin</a> should be accessible
        if you'r logged in.
      </p>
      <p>
        The <a href="/home">/home page</a> Should only be accessible,
        <a href="/signup">/signup</a> and <a href="/login">/login</a> should
        only be reachable <br />
        (and visible in the navigation) if you're not logged in Yet!
      </p>
    </main>
  </body>
</html>
