<%- include('includes/head.ejs') %>
  </head>
  <body>
    <%- include('includes/header.ejs') %>
    <main>
      <h1>The Profile Page!</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut magnam fuga et!</p>
      
    </main>
  </body>
</html>
